![png]("Data/movietables.png")

In [1]:
from sqlalchemy.engine import create_engine
import pymysql
pymysql.install_as_MySQLdb()
from urllib.parse import quote_plus
import pandas as pd

In [2]:
# Create the sqlalchemy engine and connection
username = "root"
password = "RonHan1995" 
# password = quote_plus("Myp@ssword!") # Use the quote function if you have special chars in password
db_name = "mydb"
connection = f"mysql+pymysql://{username}:{password}@localhost/{db_name}"
engine = create_engine(connection)
conn = engine.connect()

In [3]:
#preview the names of all tables
q="""Show tables;"""
pd.read_sql(q,conn)

  Tables_in_mydb
0         genres
1        ratings
2   title_basics
3   title_genres

In [4]:
q='''Select * from title_basics;'''
pd.read_sql(q,conn)

Empty DataFrame
Columns: [tconst, primary_title, start_year, run_time, ratings_tconst]
Index: []

In [ ]:
#Read the title_basic data